# Root
/.idea/
/.venv/
/dist/

# Vars
/vars/.env.dev
/vars/.terraform.tfvars.json

# Home Assistant
home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal
/docker/home-assistant/home-assistant-config/custom_components/hacs/
/docker/home-assistant/home-assistant-config/.storage/core.config_entries

# Temporary or dependency folders
deps/
tts/

# Terraform
/terraform/.terraform/
/terraform/.terraform.lock.hcl
