# Root
.idea/
.venv/
dist/

# Vars
.env.dev
.terraform.tfvars.json

# Home Assistant
hacs/
core.config_entries
hacs.repositories
home-assistant.log
home-assistant.log.*
home-assistant_v2.db
home-assistant_v2.db-shm
home-assistant_v2.db-wal

# Portainer
key.pem
portainer.key
private-key.pem

# Temporary or dependency folders
deps/
tts/

# Terraform
.terraform/
.terraform.lock.hcl
