name: Terraform Plan

on:
  pull_request:
    branches:
      - main
    paths:
      - 'terraform/**'
  workflow_dispatch:

jobs:
  terraform-plan:
    name: Plan Terraform Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZ_SP_TF_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2

      - name: Initialize Terraform
        working-directory: ./terraform
        run: |
          terraform init

      - name: Plan Terraform
        working-directory: ./terraform
        env:
          TF_VAR_subscription_id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          TF_VAR_secrets: ${{ secrets.AZ_KV_SECRETS }}
          TF_VAR_admin_object_id: ${{ secrets.AZ_ADMIN_OBJECT_ID }}
        run: |
          terraform plan -input=false
