name: Terraform Apply

on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'
  workflow_dispatch:

jobs:
  terraform-apply:
    name: Apply Terraform Changes
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Login to Azure
        uses: azure/login@v2
        with:
          creds: ${{ secrets.AZ_SP_TF_CREDENTIALS }}

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_wrapper: false

      - name: Initialize Terraform
        working-directory: ./terraform
        run: |
          terraform init

      - name: Apply Terraform
        working-directory: ./terraform
        env:
          TF_VAR_subscription_id: ${{ secrets.AZ_SUBSCRIPTION_ID }}
          TF_VAR_secrets: ${{ secrets.AZ_KV_SECRETS }}
          TF_VAR_admin_object_id: ${{ secrets.AZ_ADMIN_OBJECT_ID }}
        run: |
          terraform apply -auto-approve

      - name: Set airflow-sp Credentials as GitHub Secret
        working-directory: ./terraform
        env:
          GH_TOKEN: ${{ secrets.GH_TOKEN }}
        run: |
          gh secret set AZ_SP_AF_CREDENTIALS --body "$(terraform output -raw airflow_sp_creds | jq .)"

      - name: Output Infrastructure Configuration to JSON
        working-directory: ./terraform
        run: |
          terraform output -raw infrastructure | jq . > ../src/homeauto/core/infra/config.json

      - name: Commit and Create Pull Request for Infrastructure Update
        uses: peter-evans/create-pull-request@v7
        with:
          token: ${{ secrets.GH_TOKEN }}
          commit-message: Update Infrastructure Configuration
          committer: github-actions[bot] <github-actions[bot]@users.noreply.github.com>
          author: ${{ github.actor }} <${{ github.actor_id }}+${{ github.actor }}@users.noreply.github.com>
          branch: update-infra-config
          base: main
          delete-branch: true
          title: Update Infrastructure Configuration
